* {
    font-family: 'Raleway', sans-serif;
}

html, body, .container-fluid {
    height: 100%;
    overflow-y: hidden;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    font-family: 'Berkshire Swash', cursive;
}

.row-full {
    height: 100%;
}

.cya-overlay {
    height: 100%;
    width: 110%;
    margin-left: -1em;
    margin-right: -1em;
    transition: 0.5s;
    display: table;
}

.cya-overlay:hover {
    background: rgba(3, 92, 161, 0.6);
    z-index: 2;
}

.cya-informal {
    background-image: url("../img/type-informal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cya-formal {
    background-image: url("../img/type-formal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cya-lunch {
    background-image: url("../img/type-lunch.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cya-fingerfood {
    background-image: url("../img/type-fingerfood.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cya-pizzaparty {
    background-image: url("../img/type-pizzaparty.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cya-cazuela {
    background-image: url("../img/type-cazuela.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cya-pernil {
    background-image: url("../img/type-pernil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cya-informal-postre {
    background-image: url("../img/type-informal-postre.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cya-done {
    background-color: #035C83;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cya-text {
    height: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: white;
    transition: 0.5s;
    font-size: 1.5em;
}

.cya-title {
    font-family: 'Berkshire Swash', cursive;
    color: white;
}

.cya-description {
    color: white;
}

.cya-description-background {
    background: rgba(3, 92, 161, 0.6);
    z-index: 2;
    height: 100%;
    width: 110%;
    margin-left: -5%;
}

.cya-text:hover {
    font-weight: bold;
    -webkit-transform: scale(1.5);
}

.cya-border {
    font-family: 'Berkshire Swash', cursive;
    margin: 5% 15%;
    border: 1px solid white;
}

.cya-border > a {
    font-family: 'Berkshire Swash', cursive;
    text-decoration: none;
    color: white;
}

.cya-price {
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 1.5em;
}

.cya-btn-center {
    display: block;
    margin: 0 auto;
}

.cya-btn-primary {
    color: #720289;
    background-color: #90DBFB;
    border-radius: 30px;
    text-decoration: none;
    margin: 5% 25%;
}

.cya-btn-secondary {
    color: #90DBFB;
    background-color: transparent;
    border-color: #90DBFB;
    border-radius: 30px;
    text-decoration: none;
    margin: 5% 25%;
}
