* {
    font-family: 'Raleway', sans-serif;
}

html, body, .container-fluid {
    height: 100%;
    overflow-y: hidden;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    font-family: 'Berkshire Swash', cursive;
}

.row-full {
    height: 100%;
}

.cya-overlay {
    height: 100%;
    width: 110%;
    margin-left: -1em;
    margin-right: -1em;
    transition: 0.5s;
    display: table;
}

.cya-overlay:hover {
    background: rgba(3, 92, 161, 0.6);
    z-index: 2;
}

.cya-informal {
    background-image: url("../img/type-informal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cya-formal {
    background-image: url("../img/type-formal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cya-lunch {
    background-image: url("../img/type-lunch.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cya-text {
    height: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: white;
    transition: 0.5s;
    font-size: 1.5em;
}

.cya-text:hover {
    font-weight: bold;
    -webkit-transform: scale(1.5);
}

.cya-border {
    font-family: 'Berkshire Swash', cursive;
    margin: 10px 140px;
    border: 1px solid white;
}
